body, html{
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 12px;
}

.Content {
    padding: 5px 15px 10px 15px;
}

table, td, th {
    border: 1px solid black;
}
  
table {
    width: 100%;
    border-collapse: collapse;
}

#menu ul li h1 {
    color: yellow;
    font-weight: bolder;
    text-decoration: none;
}

.btn {
    cursor: pointer;
}

.campos {
    padding: 5px 0px 10px 0px;
}